
{box-sizing: border-box;}
body { font-family: Verdana, Arial, sans-serif; background-color: #3F2860}
#wrapper {
    margin: auto;
    padding: 2em;

             color: #3F2860;
             background-color: #F5F5F5;

}
header a {text-decoration: none}
headera:link {color: #fff}
headera:visited {color: #fff}
headera:hover {

    transition-property: color;
    transition-duration: 10s;
    transition-timing-function: ease-out;
    transition-delay: 10s;
    color: #8F92B2



}
header { background-image: url(header.JPG);
font-size: 90%;
min-height: 200px;}
    .home { height: 50vh;
    padding-top: 6em;
    padding-left: 8em;
    font-size: 120%;
    min-height: 200px
    }

background-size: 100% 100%;

    background-repeat: repeat; background-color: #F5F5F5;
    height: 150px;
}


:link {color: #ffffff}
:visited {color: #ffffff}
:hover {color: #EDf5F5}


title {background-color: #F5F5F5;
    height: 150px;  margin-top: 50px;}

footer { font-size: small; text-align: center; font-style: italic;
  background-color: #9BC1C2; padding: 1em;
    clear: right;
}

nav ul { list-style-type: none;
margin: ;
padding-right: 2em;
font-size: 1.2em;
;}
nav li {display: inline;
padding-left: 2em;}
nav a {
nava:link {color: #3F2860;}
nav a:visited {color: #497777;}
nav a:hover {color: #a26100;}}
li , dd {font-size: 90%}
form {display: flex;
    flex-flow: column nowrap;}
input, datalist textarea {margin-bottom: .5em;}
form {width: 60%;
min-width: 40em;
display: grid;
grid-gap: 1em;
columns: 2;
rows: auto;
width: 9em;
width: 1fr;
}

@media only screen and (min-width: <= 600px) {
 #flow {
    display: block;
.flex-container {
  display: flex;
flex-direction: row;
nav li {width: 7em;}
padding-left: 2em;
padding-right: 2em;
}
}
}
@media only screen and (min-width: <= 1024px) {
 header {font-size: 120%;}
nav {font-weight: bold;}
.home {height: 50vh;
padding-top: 5em;
padding-left: 8em;}
.content{height: 30vh;
padding-top: 2em;
padding-left: 8em;
}
#weapper {margin: auto;
width: 80%;
}
table {
    :nth-of-type(even) {background-color: #D7E8E9}
    border: 1px #404071;
    margin-bottom: 1em;
    min-width: 400px;
    border-collapse: collapse;
td {border: 1px #404071;
    padding: 0.5em;
}
th {border: 1px #404071;
padding: 0.5em;
}
caption {margin: 1em;
font-weight: bold;
font-size: 120%;}

}

}


}
:link {color: #3F2860}
:visited {color: #497777}
:hover   {color: #a26100}
f{
  clear: right;
}

h2 {margin: 0;}

selection {
   padding-left: .5em;
    padding-right: .5em;
}

.homeclass {height: 20vh;
    padding-top: 2em;
    padding-left: 10%;

 height: auto;
}
.contentclass {height: auto;
width: 30%;}
.clearfloat {clear: page}
.loungehero {clear: page}

nav li {display: inline; padding-left: 2em;}
nav a { text-decoration: none;}
h1 { padding-top: 50px; padding-left: 2em;}
li { font-size: 90%;}
main { padding: 0 3em 3em 3em; display: block;}
#mathero { height: 300px;
    background-image: url(yogamat.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;

}
#loungehero { height: 300px;
    background-image: url(yogalounge.jpg);

    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;


}

.container {
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;

}
}
img { padding: 2em;}